# Terraform
infra/terraform/.terraform/
infra/terraform/.terraform.lock.hcl
infra/terraform/terraform.tfstate
infra/terraform/terraform.tfstate.backup
infra/terraform/*.tfvars
infra/terraform/.terraform.tfstate.lock.info

# SSH Keys
infra/terraform/ssh_key.pem
infra/terraform/ssh_key.pem.pub

# Kubeconfig
infra/terraform/kubeconfig.yaml

# Environment variables
.env
.env.local
*.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Task
Taskfile.local.yml
.task/

# Tilt
.tiltbuild/

K3S_TLS_setup.md
commands.txt
steps.mmd
Hetzner_DNS_Setup.md
setup.sh
.ignore

node_modules
sample-pay-statement.pdf
